
ChatApp/Util/Secrets.swift

ChatApp.xcodeproj/project.xcworkspace/xcuserdata/claysuttner.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

ChatApp.xcodeproj/xcuserdata/claysuttner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

OpenAI/Util/Secrets.swift

.swiftformat

.swift-version

.rename_project.sh

OmniAI.xcodeproj/project.xcworkspace/xcuserdata/claysuttner.xcuserdatad/UserInterfaceState.xcuserstate

OmniAI.xcodeproj/xcuserdata/claysuttner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

OmniAI.xcodeproj/project.xcworkspace/

OmniAI.xcodeproj/xcshareddata/xcschemes/

OmniAI.xcodeproj/xcuserdata/claysuttner.xcuserdatad/xcschemes/

OmniDex.xcodeproj/project.xcworkspace/xcuserdata/claysuttner.xcuserdatad/

fastlane/.env
