
ChatApp/Util/Secrets.swift

ChatApp.xcodeproj/project.xcworkspace/xcuserdata/claysuttner.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

ChatApp.xcodeproj/xcuserdata/claysuttner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
